html {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
}

.page {
  padding: 0;
  margin: 0 0;
}

h1, h2 {
  font-size: 36px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 14px;
  line-height: 24px;
}

i {
  font-size: 24px;
  transition: 0.5s;
  cursor: pointer;
}

i:hover {
  transform: scale(1.2);
  transition: 0.5s;
  cursor: pointer;
}

.button {
  width: auto !important;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ded5c3;
  gap: 10px;
}

.brand-box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input {
  padding: 10px;
  border: solid 2px black;
  border-radius: 5px;
  background-color: white;
  color: #407076;
  cursor: pointer;
}

button {
  padding: 10px;
  border: solid 2px black;
  border-radius: 5px;
  background-color: #407076;
  transition: 0.5s;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #faa33c;
  color: white;
}

.cookie-icon {
  width: 80px;
  height: 80px;
}

.menu-box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.buy-counter {
  color: white;
  background-color: crimson;
  border-radius: 10px;
  text-align: center;
}

.hero {
  background-image: url("images/Andie Chocolate Top.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  height: 40vh;
  text-align: center;
  transition: background-image 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-text {
  background: linear-gradient(0deg, rgba(180, 185, 191, 0) 0%, rgba(180, 185, 191, 1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
}

.hero-call {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.call {
  outline: 2px solid #000000;
  border-radius: 5px;
  background: white;
  transition: 0.5s;
  padding: 5px;
  cursor: pointer;
}

.call:hover {
  background: #407076;
  transition: 0.5s;
  cursor: pointer;
  color: white;
}

.about-mini {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  padding: 20px;
  background-color: #faa33c;
  align-items: center;
}

.about-image {
  height: 300px;
  border-radius: 5px;
  float: left; 
  margin: 15px;
}

.large-about-image {
  height: 400px;
  border-radius: 5px;
  margin: 15px;
}

.about-text {
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  text-align: start;
}

.about-mini-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.page-part {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  background-color: white;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.runner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  background-color: #faa33c;
  align-items: center;
  text-align: center;
}

.addToCart {
  text-decoration: underline;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.viewer {
  background-color: white;
}

.baking-sheet {
  background-image: url("images/baking-sheet-vertical.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  gap: 5px 5px; 
  grid-template-areas: 
    ". ."
    ". ."
    ". ."
    ". ."; 
  justify-content: center; 
  align-content: center; 
  justify-items: center; 
  align-items: center;  
  padding: 20% 25%;
}

.cookie {
  cursor: pointer;
  border-radius: 100%;
  width: 100%;
}

.form {
  width: 45%;
  min-width: 350px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
}

.page-part img {
  width: 45%;
  min-width: 350px;
  border-radius: 5px;
  margin: 15px;
}

.about-header {
  text-align: center;
}

.contact-box-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  padding: 20px;
  background-color: #faa33c;
  align-items: center;
  border-radius: 10px;
}

.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  height: 250px;
  width: 250px;
  background-color: white;
  align-items: center;
  text-align: center;
}

.contact-icons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.no-margin {
  margin: 0px;
}

.glow {
  text-shadow: 0 0 10px white;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.no-show {
  display: none;
}

.show {
  display: block;
}

@media screen and (min-width: 600px) {
  h1, h2 {
    font-size: 45px;
  }
  
  h3 {
    font-size: 25px;
  }
  
  h4 {
    font-size: 22px;
  }
  
  h5 {
    font-size: 20px;
  }
  
  h6 {
    font-size: 18px;
  }
  
  p {
    font-size: 18px;
    line-height: 30px;
  }

  i {
    font-size: 48px;
  }

  .page-part {
    padding: 20px 80px;
  }

  .banner {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 80px;
  }

  .menu-box {
    flex-wrap: nowrap;
  }

  .menu-box .call {
    width: 100px;
    font-size: 24px;
    transition: 0.5s;
    cursor: pointer;
    text-align: center;
  }
  
  .cookie-icon {
    width: 100px;
    height: 100px;
  }

  .menu-box {
    gap: 10px;
  }
  
  .hero {
    background-position: center;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 450px;
    padding: 40px;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at 50% 50%, rgba(180, 185, 191, 1) 0%, rgba(180, 185, 191, 0) 75%);
    justify-content: center;
    height: 100%;
  }

  .about-mini {
    flex-wrap: nowrap;
    padding: 20px 80px;
  }

  .baking-sheet {
    background-image: url("images/baking-sheet-horizontal.png");
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 5px 5px; 
    grid-template-areas: 
      ". . . ."
      ". . . ."; 
    justify-content: center; 
    align-content: center; 
    justify-items: center; 
    align-items: center; 
    height: 400px;
    padding: 10% 15%;
  }

  .form {
    width: 45%;
    min-width: 300px;
  }

  .page-part img {
    width: 45%;
    min-width: 300px;
  }

  .large-about-image {
    height: 450px;
    border-radius: 5px;
    margin: 15px;
  }

  .about-text {
    width: 65%;
    height: auto;
    text-align: start;
  }
  
}