html {
  height: 100%;
  width: 100%;
}

body {
    padding:0;
    margin:0;
}

/* CSS HEX */
/* --orange-peel: #faa33c;
--saffron: #fdc758;
--bone: #ded5c3;
--black: #000000;
--caribbean-current: #407076; */

h1, h2 {
  font-size: 36px;
}

h3 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 18px;
}

i {
  font-size: 24px;
  transition: 0.5s;
  cursor: pointer;
}

i:hover {
  transform: scale(1.2);
  transition: 0.5s;
  cursor: pointer;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ded5c3;
  gap: 10px;
}

.brand-box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cookie-icon {
  width: 60px;
  height: 60px;
}

.menu-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.hero {
  background-image: url("images/Andie Chocolate Top.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-color: #ffffff;
  height: 70vh;
  text-align: center;
  transition: background-image 0.5s ease;
}

.hero-text {
  background: linear-gradient(0deg, rgba(180, 185, 191, 0) 0%, rgba(180, 185, 191, 1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.hero-call {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.call {
  outline: 2px solid #000000;
  border-radius: 5px;
  background: white;
  transition: 0.5s;
  padding: 5px;
  cursor: pointer;
}

.call:hover {
  background: #faa33c;
  transition: 0.5s;
  cursor: pointer;
  color: white;
}

.about-mini {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  padding: 20px;
  background-color: #faa33c;
}

.about-image {
  height: 300px;
  border-radius: 5px;
}

.about-mini-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: #ffffff;
}

.viewer {
  background-color: #ffffff;
}

.baking-sheet {
  background-image: url("images/baking-sheet-vertical.png");
  /* background-size: 100% calc(max(50px, 100%)); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  /* height: 400px; */
  text-align: center;
  display: flex;  
  flex-wrap: wrap;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 10%;
  padding-bottom: 10%;
  gap: 10px;
}

.cookie {
  width: 25%;
  height: 25%;
  cursor: pointer;
  border-radius: 100%;
}

.no-margin {
  margin: 0px;
}

.glow {
  text-shadow: 0 0 10px #faa33c;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.no-show {
  display: none;
}

.show {
  display: block;
}

@media screen and (min-width: 600px) {
  h1, h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 28px;
  }

  h6 {
    font-size: 28px;
  }

  i {
    font-size: 48px;
  }

  .banner {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .menu-box {
    flex-wrap: nowrap;
  }

  .menu-box .call {
    width: 100px; /* Set the desired width here */
    font-size: 24px;
    transition: 0.5s;
    cursor: pointer;
    text-align: center;
  }
  
  .cookie-icon {
    width: 100px;
    height: 100px;
  }

  .menu-box {
    gap: 20px;
  }
  
  .hero {
    background-position: center;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 450px;
    padding: 40px;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at 50% 50%, rgba(180, 185, 191, 1) 0%, rgba(180, 185, 191, 0) 75%);
    justify-content: center;
    height: 100%;
  }

  .about-mini {
    flex-wrap: nowrap;
  }

  .baking-sheet {
    background-image: url("images/baking-sheet-horizontal.png");
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 450px; */
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
    padding-bottom: 10%;
    gap: 50px;
  }

  .cookie {
    width: 20%;
    height: 20%;
  }
  
}
